@using WildlifeMortalities.App.Extensions
@using WildlifeMortalities.Data.Entities.Reports
@using WildlifeMortalities.Data.Entities.Reports.MultipleMortalities
@using WildlifeMortalities.Data.Entities.Reports.SingleMortality
@using WildlifeMortalities.Shared.Extensions;
@using WildlifeMortalities.Shared.Services
@using WildlifeMortalities.Shared.Services.Reports;
@inherits DbContextAwareComponent

<MudTable ServerData="ServerReload" T="ReportDto" OnRowClick="GotoDetails" @key="@EnvClientId" RowClass="cursor-pointer" Hover="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Reports</MudText>
        @if (EnvClientId != null)
        {
            <MudSpacer/>
            <MudButton Color="Color.Tertiary" Variant="Variant.Outlined" OnClick="CreateMortalityReport" Class="flex-shrink-0">Report a mortality</MudButton>
        }
    </ToolBarContent>
    <HeaderContent>
        <MudTh>@Id</MudTh>
        <MudTh><MudTableSortLabel SortLabel="@Type" T="ReportDto">@Type</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="@Species" T="ReportDto">@Species</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="@Season" T="ReportDto">@Season</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="@DateSubmitted" T="ReportDto">@DateSubmitted</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="@Status" T="ReportDto">@Status</MudTableSortLabel></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="@Id">@context.HumanReadableId</MudTd>
        <MudTd DataLabel="@Type">
            @switch (context.Type)
            {
                case nameof(OutfitterGuidedHuntReport):
                    <span>Outfitted hunt - @context.OutfitterGuidedHuntResult?.ToLower()</span>
                    break;
                case nameof(SpecialGuidedHuntReport):
                    <span>Special guided hunt - @context.SpecialGuidedHuntResult?.ToLower()</span>
                break;
                case nameof(IndividualHuntedMortalityReport):
                    <span>Individual hunt</span>
                break;
                case nameof(TrappedMortalitiesReport):
                    <span>Trapped</span>
                break;
            }
        </MudTd>
        <MudTd DataLabel="@Species">@string.Join(", ", context.Species.Select(x => x.GetDisplayName()).ToArray())
        </MudTd>
        <MudTd DataLabel="@Season">@context.Season</MudTd>
        <MudTd DataLabel="@DateSubmitted">@context.DateSubmitted.ToString("MMM dd, yyyy")</MudTd>
        <MudTd DataLabel="@Status"></MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager/>
    </PagerContent>
</MudTable>


