@using WildlifeMortalities.App.Extensions
@using WildlifeMortalities.Data.Entities.Reports
@using WildlifeMortalities.Data.Entities.Reports.MultipleMortalities
@using WildlifeMortalities.Data.Entities.Reports.SingleMortality
@using WildlifeMortalities.Data.Entities.Seasons;
@using WildlifeMortalities.Shared.Extensions;
@using WildlifeMortalities.Shared.Services
@using WildlifeMortalities.Shared.Services.Reports;
@inherits DbContextAwareComponent

<MudTable ServerData="ServerReload" T="ReportListDto" OnRowClick="GotoDetails" @key="@EnvClientId" RowClass="cursor-pointer" Hover="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Reports</MudText>
        @if (EnvClientId != null)
        {
            <MudSpacer/>
            <MudButton Color="Color.Tertiary" Variant="Variant.Outlined" Href="@Constants.Routes.GetCreateReportPageLink(EnvClientId)" Class="flex-shrink-0">Report a mortality</MudButton>
        }
    </ToolBarContent>
    <HeaderContent>
        <MudTh>@Id</MudTh>
        <MudTh><MudTableSortLabel SortLabel="@Type" T="ReportListDto">@Type</MudTableSortLabel></MudTh>
        <MudTh>@Species</MudTh>
        <MudTh><MudTableSortLabel SortLabel="@Season" T="ReportListDto">@Season</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="@DateSubmitted" T="ReportListDto">@DateSubmitted</MudTableSortLabel></MudTh>
        <MudTh>@Status</MudTh>

    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="@Id">@context.HumanReadableId</MudTd>
        <MudTd DataLabel="@Type">
            @{
                var type = context.Type.GetReportTypeDisplayName();
            }

            @switch (context.Type)
            {
                case nameof(OutfitterGuidedHuntReport):
                    <span>@type - @context.OutfitterGuidedHuntResult?.ToLower()</span>
                    break;
                case nameof(SpecialGuidedHuntReport):
                    <span>@type - @context.SpecialGuidedHuntResult?.ToLower()</span>
                break;
                case nameof(IndividualHuntedMortalityReport):
                case nameof(TrappedMortalitiesReport):

                    <span>@type</span>
                break;
            }
        </MudTd>
        <MudTd DataLabel="@Species">@string.Join(", ", context.SpeciesCollection.Select(x => x.GetDisplayName()).ToArray())
        </MudTd>
        <MudTd DataLabel="@Season">
            @switch (context.Season)
            {
                case TrappingSeason trappingSeason:
                    <span>@trappingSeason.FriendlyName</span>
                    break;
                case HuntingSeason huntingSeason:
                    <span>@huntingSeason.FriendlyName</span>
                    break;
                case CalendarSeason calendarSeason:
                @*const string calendarIcon = @"<svg xmlns=""http://www.w3.org/2000/svg"" fill=""none"" viewBox=""0 0 24 24"" stroke-width=""1.5"" stroke=""currentColor"" class=""w-6 h-6"">
                                              <path stroke-linecap=""round"" stroke-linejoin=""round"" d=""M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5"" />
                                            </svg>
                                            ";
                <MudIcon Icon="@calendarIcon"/>*@
                    <span>@calendarSeason.FriendlyName</span>
                    break;
            }
        </MudTd>
        <MudTd DataLabel="@DateSubmitted">@context.DateSubmitted.ToString("MMM dd, yyyy")</MudTd>
        <MudTd DataLabel="@Status"></MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager/>
    </PagerContent>
</MudTable>


